@import '~src/styles/partials/mixins';
@import '~src/styles/partials/variables';

html, body {
  @include position(absolute, 0, 0, 0, 0);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.md-stepper .md-steps-container .md-steps-wrapper .md-step .md-step-content {
  flex: 1 1 auto;
}
